@page "{id?}"
@model FP2.Pages.Admin.AddUser.ProfessorDataDetailsModel

@{
    ViewData["Title"] = "Professor Details";
}

<h1>Professor Details</h1>

<div>
    <h4>Professor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.Department.DepartmentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor.ProfessorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.ProfessorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Professor.ProfessorId">Edit</a> |
    <a asp-page="./ProfessorUsers">Back to List</a>
</div>
